:root {
	--main-bg-color: #be87c4;
	--light-color:#F1F1F1;
	--dark-color:#333;
	--accent1:#be87c4;
	--accent2:#da9571;
	--accent3:#dd6e6e;
	--dotted: 
		border-style: dotted; 
		border-color: var(--accent3); 
		border-width: 15px;
}

body{
	padding: 5px;
	background-color: var(--main-bg-color);
}

.header {
	background-color: var(--light-color);
	text-align: center;
	padding: 20px;
}

.paratext {
  padding: 50px;
}

/* The navbar container */
.topnav {
	overflow: hidden;
	background-color: var(--dark-color);
}

/* Navbar links */
.topnav a {
	float: left;
	display: block;
	color: var(--light-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
	background-color: var(--accent2);
}

.spacer {
	padding-top: 3%;
	text-align: center;
}


.grid-container {
	display: grid;
	width: auto;
	grid-gap: 1%;
	grid-template-columns: 70% auto;
	grid-template-rows: 300vh;
	padding: 1%;
	background-color: var(--accent3);
}

.grid-container > div {
	background-color: var(--light-color);
	text-align: center;
	padding: 20px 0;
}

.item1 {
}

.item2 {
}

hr.dot{
	border-top: 15px dotted var(--accent3)
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--dark-color);
	color: white;
	text-align: center;
}
